@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@700&display=swap');

header {
    position: absolute;
    background-color: #F5F5F5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    margin-top: -5px;
}

header h1 {
    color: black;
    text-align: center;
    margin-top: 20px;
    font-family: 'Julius Sans One', sans-serif;
}

.logo {
    width: 48px;
    height: 48px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}


.menu {
    width: 48px;
    height: 48px;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}

.partie1 {
    margin-top: 0px;
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
}

.partie1::before {
    content: "";
    background-image: url(../../public/img/batiment2.jpg);
    opacity: 0.3;
    position: absolute;
    top: -35px;
    left: 0;
    bottom: -40px;
    right: 0;
    z-index: -1;
}

.txt {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
    opacity: 1;
    margin-top: 100px;
}


.partie2 {
    margin-top: 75px;
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
}

.partie2::before {
    content: "";
    background-image: url(../../public/img/sendai1.jpg);
    opacity: 0.3;
    position: absolute;
    top: -35px;
    left: 0;
    bottom: -40px;
    right: 0;
    z-index: -1;
}

.ito1 {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}